<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ZJ's Site</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
    <h1>I'm Zheng Jing</h1>
    <h2>a <span class="pro">pro</span>grammer</h2>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>
  <div class="middle-container">
    <div class="profile">
      <img class="portrait" src="static/images/zj.png" alt="profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am an aspiring programmer who likes to gym, play chess and read novels. I will be pursuing a CS degree at NUS.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-image" src="https://cdn-icons-png.flaticon.com/512/1006/1006363.png" alt="computer-img">
        <h3>Coding</h3>
        <p>Currently enrolled in 100 Days of Python by Angela Yu. Also know basic HTML and CSS.</p>
      </div>
      <div class="skill-row">
        <img class="chess-image" src="https://cdn-icons-png.flaticon.com/512/3655/3655055.png" alt="chess-img">
        <h3>Chess</h3>
        <p>I picked up chess around 2019, recently hitting 1900 rating in 3+0 blitz!</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love to play chess as much as I do.</h3>
      <p class="contact-message">Love to play chess as much as I do? Add me on chess.com! We can play a game of chess together.</p>
      <a class="btn" href="mailto:codingwithzeejae@email.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/lee-zheng-jing-251475163/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2022 Lee Zheng Jing.<p>
  </div>

</body>

</html>
